<div id="<%= dom_id owner %>">
  <p>
    <strong>Firstname:</strong>
    <%= owner.firstname %>
  </p>

  <p>
    <strong>Secondname:</strong>
    <%= owner.secondname %>
  </p>

  <p>
    <strong>Pesel:</strong>
    <%= owner.pesel %>
  </p>

</div>
